/* General styles */
.results-container {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.results-container h1 {
  font-size: 2.5em;
  color: #333;
}

.results-card {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #2575fc;
  text-align: center;
}

.results-content {
  text-align: left;
}

h3 {
  color: #333;
  font-size: 1.6em;
  margin-bottom: 15px;
}

/* Results statistics styles */
.results-statistics {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.results-statistics th {
  background-color: #2575fc;
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.results-statistics td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 1.2em;
}

.results-statistics p {
  margin: 5px 0;
}

/* Table styles */
.results-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f0f0f0;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.results-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.results-table tr:hover {
  background-color: #f1f1f1;
}

/* Correct and wrong answer styles */
.results-table .mat-cell.correct {
  background-color: #4caf50 !important;
  color: white !important;
  font-weight: bold;
}

.results-table .mat-cell.wrong {
  background-color: #f44336 !important;
  color: white !important;
  font-weight: bold;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

/* Restart button styles */
.restart-button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 24px;
  background-color: #ff4081;
  color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.restart-button:hover {
  background-color: #f50057;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .results-table {
    font-size: 12px;
  }

  .restart-button {
    width: 100%;
    padding: 15px;
  }
}